/* Footer styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.content {
    flex: 1;
}

.footer {
    background-color: rgba(0, 0, 0, 0.95) !important; /* 95% transparency */
    color: white;
    padding: 20px 0;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
}

.footer a {
    color: white !important;
    transition: color 0.3s;
}

.footer a:hover {
    color: lightgray !important;
    text-decoration: none;
}

.footer h5 {
    color: white;
    margin-bottom: 15px;
}

.footer .text-center {
    padding: 10px 0;
}
