/* Footer styles */
.footer {
    background-color: rgba(0, 0, 0, 0.95) !important; /* 95% transparency */
    color: white;
    padding: 20px 0;
    transition: background-color 0.3s, color 0.3s;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: white !important;
    transition: color 0.3s;
}

.footer a:hover {
    color: lightgray !important;
    text-decoration: none;
}

.footer h5 {
    color: white;
    margin-bottom: 15px;
}

.footer .text-center {
    padding: 10px 0;
}
