/* Hero banner styles */
.jumbotron {
    position: relative;
    color: white;
    text-align: center;
    background: none; /* Remove background */
    height: 100vh;
    margin-bottom: 0;
    overflow: hidden; /* Ensure no scrollbar appears */
}

.jumbotron .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron .content {
    position: relative;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.slideshow {
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.slideshow img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: slideAnimation 16s infinite;
}

.slideshow img.visible {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.slideshow img:not(.visible) {
    opacity: 0;
    transform: scale(1.1);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}


.slideshow img:nth-child(1) {
    animation-delay: 0s;
}

.slideshow img:nth-child(2) {
    animation-delay: 4s;
}

.slideshow img:nth-child(3) {
    animation-delay: 8s;
}

.slideshow img:nth-child(4) {
    animation-delay: 12s;
}

@keyframes slideAnimation {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }
    20% {
        opacity: 1;
        transform: scale(1);
    }
    40% {
        opacity: 1;
        transform: scale(1);
    }
    60% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
        transform: scale(1.1);
    }
}

/* Card container styles */
.card-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.card-row {
    display: inline-flex;
    flex-wrap: nowrap;
}

.card-row .card {
    margin-right: 15px; /* Adjust the margin as needed */
    flex: 0 0 auto;
}

.card-container::-webkit-scrollbar {
    display: none; /* Optional: Hide the scrollbar for a cleaner look */
}

.card-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
