.card-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.card-row {
    display: inline-flex;
    flex-wrap: nowrap;
}

.card-row .card {
    margin-right: 15px; /* Adjust the margin as needed */
    flex: 0 0 auto;
}

.card-container::-webkit-scrollbar {
    display: none; /* Optional: Hide the scrollbar for a cleaner look */
}

.card-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
