.text-shadow {
    color: black;
    text-shadow: 2px 2px 4px rgba(126, 125, 125, 0.95);
}

.container{
    padding-top:100px;
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.45);
}

.card-body {
    flex: 1;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-title.text-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* Hover effects */
.card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.95);
}

.card:hover .btn {
    transform: translateY(-5px);
    opacity: 1;
}
