<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Bookstore Cart</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">YP Bookstore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBooks" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Books
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownBooks">
                        <a class="dropdown-item" href="/best-sellers">Bestsellers</a>
                        <a class="dropdown-item" href="/new-arrivals">New Arrivals</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/khaiiran?igsh=MXdrYjQybGs0dnQybg==">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/khaiiran/p/C131Cf-xFVu/?img_index=1">Contact Us</a>
                </li>
            </ul>
            <form class="form-inline ml-auto">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Cart</a>
                </li>
            </ul>
        </div>
    </nav>

<div class="container">
    <table id="cart" class="table table-hover table-condensed">
        <thead>
        <tr>
            <th style="width:50%">Product</th>
            <th style="width:10%">Price</th>
            <th style="width:8%">Quantity</th>
            <th style="width:22%" class="text-center">Subtotal</th>
            <th style="width:10%"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="carts:${cart}">
            <td data-th="Product">
                <div class="row">
                    <div class="col-sm-2 hidden-xs"><img th:src="${carts.product.imageLinks}" alt="Book Cover" class="img-responsive" /></div>
                    <div class="col">
                        <h4 class="nomargin" th:text="${carts.product.title}"></h4>
                        <p th:text="${carts.product.author}"></p>
                    </div>
                </div>
            </td>
            <td data-th="Price" th:text="${carts.product.listPriceCurrency} + ' ' + ${carts.product.listPrice}"></td>
            <form action="/update-cart" method="post">
                <td data-th="Quantity">
                    <label>
                        <input type="number" class="form-control text-center" th:value="${carts.quantity}">
                    </label>
                </td>
            </form>
            
            <td data-th="Subtotal" class="text-center" th:text="${carts.product.listPriceCurrency} + ' ' + ${carts.price}"></td>
            <td class="actions" data-th="">
                <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="visible-xs">
            <td class="text-center"><strong>Total RM <span th:text="${total}"></span></strong></td>

        </tr>
        <tr>
            <td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
            <td colspan="2" class="hidden-xs"></td>
            <td class="hidden-xs text-center"><strong>Total RM <span th:text="${total}"></span></strong></td>
            <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
        </tr>
        </tfoot>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</body>
</html>