<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <title>The Bookstore</title>
</head>
<body>

<!-- Navbar -->
<div class="stick-nav" th:replace="~{navbar :: navbarTemplate}"></div>

<!-- Hero Banner -->
<div class="jumbotron" style="margin-bottom: 30px;">
    <div class="overlay">
        <div id="slideshow" class="slideshow">
            <img th:src="@{/images/homebanner1.png}" alt="Banner 1">
            <img th:src="@{/images/homebanner2.png}" alt="Banner 2">
            <img th:src="@{/images/homebanner3.jpg}" alt="Banner 3">
            <img th:src="@{/images/homebanner4.jpg}" alt="Banner 4">
        </div>
        <div class="content">
            <h1 class="text-shadow">Welcome to Our Bookstore!</h1>
            <h5 class="text-shadow">Discover your next great read.</h5>
        </div>
    </div>
</div>

<!-- HTML -->
<div class="container">
    <!-- About Us Section -->
    <section id="about-us" style="margin-top: 30px;">
        <div class="text-center text-shadow2 mt-2" style="height: 80px;">
            <h2>About Us</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="image-container">
                    <img src="/images/library.jpg" class="img-fluid" alt="About Us Image">
                </div>
            </div>
            <div class="col-md-6 card-about">
                <p>
                    Our bookstore is a haven for book lovers, offering a wide range of genres to satisfy every reader's taste.
                    Join us on our journey to explore new worlds, discover hidden gems, and lose yourself in the magic of books.
                </p>
            </div>
        </div>
    </section>
</div>

<div class="container">
    <!-- New Arrivals Section -->
    <section>
        <div class="text-center" style=" height: 80px; margin-top: 50px;">
            <h2 class="text-center text-shadow2 mb-4">New Arrivals</h2>
        </div>
        <div class="row">
            <div class="col-md-3 mb-4" th:each="product : ${newArrivals}">
                <div class="card h-100">
                    <img th:src="@{${product.imageLinks}}" class="card-img-top" style="height: 299px; width: 254px;" alt="Book Cover">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-truncate" th:text="${product.title}">Book Title</h5>
                        <p class="card-text" th:text="${product.author}">Author Name</p>
                        <div class="fs-5 mb-3">
                            <span style="text-decoration: line-through" th:text="'RM ' + ${#numbers.formatDecimal(product.retailPrice, 0, 'COMMA', 2, 'POINT')}">$45.00</span>
                            <span th:text="'RM ' + ${#numbers.formatDecimal(product.listPrice, 0, 'COMMA', 2, 'POINT')}"></span>
                        </div>
                        <a th:href="@{/product/{id}(id=${product.id})}" class="btn btn-primary mt-auto">More Info</a>
                    </div>
                </div>
            </div>
        </div>

        <div style="display: flex; justify-content: center; align-items: center;">
            <a href="/new-arrivals" class="btn btn-secondary">View More in this Section</a>
          </div>
    </section>
</div>

<div class="container mb-5">
    <!-- Best Sellers Section -->
    <div class="text-center text-shadow2 mb-4" style="margin-top: 50px ; height: 80px;">
        <h2>Best Sellers</h2>
    </div>
    <section>
        <div class="row">
            <div class="col-md-3 mb-4" th:each="product : ${bestSellers}">
                <div class="card h-100">
                    <img th:src="@{${product.imageLinks}}" class="card-img-top" style="height: 299px; width: 254px;" alt="Book Cover">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-truncate" th:text="${product.title}">Book Title</h5>
                        <p class="card-text" th:text="${product.author}">Author Name</p>
                        <div class="fs-5 mb-3">
                            <span style="text-decoration: line-through" th:text="'RM ' + ${#numbers.formatDecimal(product.retailPrice, 0, 'COMMA', 2, 'POINT')}">$45.00</span>
                            <span th:text="'RM ' + ${#numbers.formatDecimal(product.listPrice, 0, 'COMMA', 2, 'POINT')}"></span>
                        </div>

                        <a th:href="@{/product/{id}(id=${product.id})}" class="btn btn-primary mt-auto">More Info</a>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <a href="/best-sellers" class="btn btn-secondary">View More in this Section</a>
          </div>
    </section>
</div>

<!-- Footer -->
<!--<div th:replace="~{footer :: footerTemplate}"></div>-->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>
