<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Products</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/list.css}" rel="stylesheet">
</head>
<body>

<!-- Navbar -->
<div th:replace="~{navbar :: navbarTemplate}"></div>

<div class="container">
    <h2 class="text-center text-shadow" style="margin-bottom: 30px;">Product Listing</h2>
    <div class="row">
        <div class="col-md-3" th:each="product : ${products}">
            <div class="card mb-4">
                <img th:src="${product.imageLinks}" class="card-img-top" style="height: 299px; width: 250px;" alt="Book Cover">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-truncate" th:text="${product.title}">Book Title</h5>
                    <p class="card-text" th:text="${product.author}">Author Name</p>
                    <div class="fs-5 mb-5">
                        <span style="text-decoration: line-through" th:text="'RM ' + ${#numbers.formatDecimal(product.retailPrice, 0, 'COMMA', 2, 'POINT')}">$45.00</span>
                        <span th:text="'RM ' + ${#numbers.formatDecimal(product.listPrice, 0, 'COMMA', 2, 'POINT')}"></span>
                    </div>
                    <a th:href="@{/product/{id}(id=${product.id})}" class="btn btn-primary btn-block mt-auto">View More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</body>
</html>
