<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Product Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        h2 {
            font-size: 2rem;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 th:text="${product.title}">Book Title</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img th:src="${product.imageLinks}" class="img-fluid" alt="Book Cover">
        </div>
        <div class="col-md-6">
            <p><strong>Author:</strong> <span th:text="${product.author}">Author Name</span></p>
            <p><strong>Publisher:</strong> <span th:text="${product.publisher}">Publisher</span></p>
            <p><strong>Publication Date:</strong> <span th:text="${#dates.format(product.publishedDate, 'yyyy-MM-dd')}">Publication Date</span></p>
            <p><strong>Page Count:</strong> <span th:text="${product.pageCount}">Page Count</span></p>
            <p><strong>Language:</strong> <span th:text="${product.language}">Language</span></p>
            <p><strong>Category:</strong> <span th:text="${product.categories}">Categories</span></p>
            <p><strong>Price:</strong> <span th:text="${product.listPrice} + ' ' + ${product.listPriceCurrency}">Price</span></p>
            <p><strong>ISBN:</strong> <span th:text="${product.isbnIdentifier}">ISBN Identifier</span></p>
            <p th:text="${product.description}">Description</p>
            <a href="/products" class="btn btn-secondary">Back to Products</a>
            <a th:href="@{/addToCart/{id}(id=${product.id})}" class="btn btn-secondary">Add to cart</a>
        </div>
    </div>
</div>
</body>
</html>
